<div class="container-fluid h-100 contenedor">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-9 col-md-5 col-xl-3 box-formulario">
            <form [formGroup]="form" (ngSubmit)="guardar()">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 p-1">
                        <h1 class="text-white text-center">Encuesta</h1>
                    </div>
                    <div class="col-12 p-1">
                        <p class="text-white text-center">ESTILO MUSICAL</p>
                    </div>
                    <div class="col-12 p-1">
                        <select class="w-100 form-select form-select-sm" required formControlName="estilo" [class.is-invalid]="estiloNoValido">
                            <option value="" disabled selected>Seleccione su estilo preferido</option>
                            <option *ngFor="let item of estilos" [value]="item.id">{{ item.nombreEstilo }}</option>
                        </select>
                    </div>
                    <div class="col-12 p-1">
                        <p class="text-white text-center">CORREO ELECTRÓNICO</p>
                    </div>
                    <div class="col-12 p-1">
                        <input type="email" class="form-control form-control-sm w-100" 
                        placeholder="Ingrese su correo electrónico" 
                        formControlName="correo"
                        [class.is-invalid]="emailNoValido">
                    </div>
                    <div class="col-12 p-0 pt-3">
                        <button type="submit" class="w-100 btn btn-success">ENVIAR ENCUESTA</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>